<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD2RSEcWVO0trkpFm4KiBl-0P2uWo7li7o</string>
	<key>GCM_SENDER_ID</key>
	<string>344454850868</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.campus</string>
	<key>PROJECT_ID</key>
	<string>tutos-8d749</string>
	<key>STORAGE_BUCKET</key>
	<string>tutos-8d749.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:344454850868:ios:a740e5303fa8376965dd61</string>
</dict>
</plist>